@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Custom;
  src: url("RobotoFlex-VariableRegular"); }

/*propiedades del body*/
/*estilos para el contenedor principal*/
.contenedorUno {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1.5fr 0.3fr;
  gap: 0.5rem;
  background-image: url(../img/slider4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  background-color: #ced0ce;
  grid-template-areas: "header header header header" "seccionUnificada seccionUnificada seccionUnificada seccionUnificada" "main main main main" "seccionCuatro footer footer footer"; }

.contenedorDos {
  height: 280vh;
  background-color: #ced0ce; }

.contenedorNosotras {
  height: 350vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.3fr 2fr 1fr 0.3fr;
  gap: 1rem;
  background-color: #ced0ce;
  grid-template-areas: "header header header" "main main main" "seccion seccion seccion" "footer footer footer"; }

/*propieades del header*/
header {
  position: fixed;
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #bb0a21;
  background-image: linear-gradient(300deg, #bb0a21 0%, #ced0ce 50%, #e6e8e6 100%);
  border-top: 0.3rem solid #A9010D;
  border-bottom: 0.1rem solid #f7f7ff;
  z-index: 2; }
  header nav .isologotipo {
    display: inline-flex;
    background-color: #A9010D;
    box-shadow: 4px 5px #3c0105;
    margin-right: 6rem;
    align-items: center; }
  header .isologotipo:hover {
    opacity: 0.7;
    transform: scale(0.9); }
  header nav ul {
    display: flex;
    justify-self: end;
    align-self: end; }
    header nav ul li {
      padding-right: 3.125rem;
      list-style: none;
      /* pseudoclase hover para los botones */ }
      header nav ul li a {
        color: #031927;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: bold;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s; }
      header nav ul li a:hover, header nav ul li a:focus {
        color: #bb0a21;
        background-size: 100% 2px; }

/* atributos para indicarle al usuario donde se encuentra*/
.home {
  animation-name: escalar;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

.alquileres {
  animation-name: escalar;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

.sobreNosotras {
  animation-name: escalar;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

.ventas {
  animation-name: escalar;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

.contacto {
  animation-name: escalar;
  animation-iteration-count: infinite;
  animation-duration: 4s; }

/*propiedades del main y de los principales objetos de las pages*/
main {
  grid-area: main; }
  main p {
    margin-top: 2rem;
    margin-left: 12rem;
    display: flex;
    width: 70%;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    background-color: #A9010D;
    border-bottom: 0.5rem solid #031927;
    color: #f7f7ff; }

.publicaciones .publicacionUno, .publicaciones .publicacionDos, .publicaciones .publicacionTres, .publicaciones .publicacionCuatro, .publicaciones .publicacionCinco, .publicaciones .publicacionSeis {
  display: inline-block;
  margin: 6rem 2rem;
  box-shadow: 4px 5px #031927;
  text-shadow: #031927 0.1em 0.1em 0.2em;
  text-decoration: none; }

.publicaciones .card-body {
  height: 28rem;
  background-image: linear-gradient(300deg, #bb0a21 0%, #ced0ce 50%, #e6e8e6 100%);
  padding: 1rem;
  text-align: center; }
  .publicaciones .card-body .card-title {
    font-size: 1rem;
    text-shadow: #f7f7ff 0.1em 0.1em 0.2em; }
  .publicaciones .card-body h2 {
    text-shadow: #f7f7ff 0.1em 0.1em 0.2em; }
  .publicaciones .card-body .card-text {
    margin: 0;
    font-size: 1rem;
    width: 16rem;
    height: 14rem; }
  .publicaciones .card-body button {
    position: relative;
    margin-top: 2rem;
    margin-left: 4.5rem;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit; }
  .publicaciones .card-body button.contactanos {
    width: 12rem;
    height: auto; }
  .publicaciones .card-body button.contactanos .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #A9010D;
    border-radius: 1.625rem; }
  .publicaciones .card-body button.contactanos .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff; }
  .publicaciones .card-body button.contactanos .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none; }
  .publicaciones .card-body button.contactanos .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #f7f7ff;
    border-right: 0.125rem solid #f7f7ff;
    transform: rotate(45deg); }
  .publicaciones .card-body button.contactanos .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #031927;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase; }
  .publicaciones .card-body button:hover .circle {
    width: 100%; }
  .publicaciones .card-body button:hover .circle .icon.arrow {
    background: #f7f7ff;
    transform: translate(1rem, 0); }
  .publicaciones .card-body button:hover .button-text {
    color: #f7f7ff; }

.info {
  grid-area: main;
  display: flex;
  width: 55%;
  margin-top: 5%;
  margin-left: .5%;
  padding: 3rem;
  border: outset;
  border-top: 0.3rem solid #bb0a21;
  border-left: 0.3rem solid #031927;
  background-color: #A9010D;
  color: #f7f7ff; }
  .info .quienesSomos {
    display: inline-block; }
    .info .quienesSomos h1 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      text-shadow: #031927 0.1em 0.1em 0.2em; }
    .info .quienesSomos h2 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      text-shadow: #031927 0.1em 0.1em 0.2em; }
    .info .quienesSomos h3 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      text-shadow: #031927 0.1em 0.1em 0.2em; }
    .info .quienesSomos h4 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      text-shadow: #031927 0.1em 0.1em 0.2em; }
    .info .quienesSomos p {
      width: 90%;
      font-size: 1.31rem;
      text-align: justify;
      margin-left: 3rem;
      text-shadow: #031927 0.1em 0.1em 0.2em; }
  .info .video {
    position: fixed;
    left: 56%;
    z-index: 2;
    border-top: 0.3rem solid #bb0a21;
    border-left: 0.3rem solid #031927; }

span a {
  color: #f7f7ff;
  text-decoration: none; }

span a:hover {
  color: #031927; }

.formulario {
  position: fixed;
  width: 22rem;
  top: 30%;
  left: 35%;
  border: outset;
  border-top: 0.3rem solid #bb0a21;
  border-left: 0.3rem solid #ced0ce;
  background-color: #f7f7ff;
  padding: 0.3rem;
  margin: 0.625rem;
  opacity: 0.95; }

/*propiedades de la section*/
.seccionVentas {
  grid-area: seccionVentas; }

.seccionNosotras {
  grid-area: seccion;
  text-align: center;
  color: #031927;
  margin-top: 10%;
  margin-left: 1%; }
  .seccionNosotras .logoCucicba {
    justify-self: center;
    align-self: center; }
  .seccionNosotras .matricula {
    background-color: #ced0ce;
    opacity: 0.9; }

.seccionUnificada {
  grid-area: seccionUnificada;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* propiedades para que el usuario interprete a los botones principales*/ }
  .seccionUnificada .seccionUno, .seccionUnificada .seccionDos, .seccionUnificada .seccionTres {
    position: relative;
    display: inline-block;
    margin-top: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #f7f7ff;
    margin-top: 8rem;
    padding: 1.25em 2em;
    background: #bb0a21;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1); }
  .seccionUnificada a {
    text-decoration: none;
    color: #f7f7ff; }
  .seccionUnificada .seccionUno::before, .seccionUnificada .seccionDos::before, .seccionUnificada .seccionTres::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #031927;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597;
    box-shadow: 0 0 0 2px #b18597;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
  .seccionUnificada .seccionUno:hover, .seccionUnificada .seccionDos:hover, .seccionUnificada .seccionTres:hover {
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em); }
  .seccionUnificada .seccionUno:hover::before, .seccionUnificada .seccionDos:hover::before, .seccionUnificada .seccionTres:hover::before {
    -webkit-box-shadow: 0 0 0 2px #b18597;
    box-shadow: 0 0 0 2px #b18597;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em); }

.seccionCuatro {
  grid-area: seccionCuatro;
  margin-bottom: 3rem;
  margin-left: 1rem;
  text-align: center;
  color: #031927; }
  .seccionCuatro .logoCucicba {
    justify-self: center;
    align-self: center; }
  .seccionCuatro .matricula {
    background-color: #ced0ce;
    opacity: 0.9; }

.seccionPages {
  margin-left: 2%;
  margin-top: 10%;
  padding-inline: 1rem;
  text-align: center; }

.botonWhatsapp {
  position: fixed;
  bottom: 3%;
  right: 1%;
  color: #031927;
  display: inline;
  font-size: 1.2rem;
  text-align: center;
  line-height: 0.5rem;
  text-decoration: none;
  margin: 0.3rem 0.125rem;
  border-radius: 50%;
  z-index: 2; }
  .botonWhatsapp .iconoWhatsapp {
    animation-name: Escribinos;
    animation-iteration-count: infinite;
    animation-duration: 2s; }

.botonWhatsapp:hover {
  opacity: 0.7;
  transform: scale(0.9); }

/*propiedades del footer*/
footer {
  grid-area: footer;
  position: fixed;
  color: #031927;
  background-color: #ced0ce;
  opacity: 0.7;
  bottom: 0;
  width: 100%;
  height: 5%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center; }

/* animaciones*/
@keyframes escalar {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.2); }
  40% {
    transform: scale(1); } }

@keyframes Escribinos {
  0% {
    transform: rotateZ(0deg); }
  25% {
    transform: rotateZ(-10deg) scale(1.1); }
  50% {
    transform: rotateZ(10deg) scale(0.9); }
  100% {
    transform: rotateZ(0deg); } }

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden; }

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px; }

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0; }

.bar span.top {
  top: 0; }

.bar span.middle {
  top: 17px; }

.bar span.bottom {
  bottom: 0; }

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px; }

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057; }

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0; }

/*propiedades media queries*/
/*adaptación Tablet*/
@media screen and (max-width: 1024px) {
  .contenedorUno {
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas: "header header header" "seccionUnificada seccionUnificada seccionUnificada" "main main main" "footer footer footer"; }
  .contenedorDos {
    display: grid;
    height: 420vh;
    background-color: #ced0ce; }
  .contenedorNosotras {
    height: 235vh; }
  header {
    margin-bottom: 1rem; }
  header nav ul li {
    padding-right: .5rem; }
    header nav ul li a {
      font-size: 1rem; }
  nav .isologotipo {
    margin-right: 1rem; }
  main {
    margin-top: 5%; }
  main p {
    width: 70%;
    margin-left: 18%;
    font-size: 2rem;
    margin-top: 0.3rem; }
  .seccionUnificada {
    padding: 0; }
    .seccionUnificada .seccionUno {
      padding: .625rem 1rem; }
    .seccionUnificada .seccionDos {
      padding: .625rem 1rem; }
    .seccionUnificada .seccionTres {
      padding: .625rem 1rem; }
  .info {
    width: 75%;
    padding: 2.5rem;
    margin: 5% 1% 1% 15%; }
    .info .quienesSomos h1 {
      font-size: 2rem; }
    .info .quienesSomos h2 {
      font-size: 2rem; }
    .info .quienesSomos h3 {
      font-size: 2rem; }
    .info .quienesSomos p {
      width: 95%;
      font-size: 1rem;
      text-align: justify;
      margin-left: .8rem; }
    .info .video {
      display: none; }
  .publicaciones .publicacionUno, .publicaciones .publicacionDos, .publicaciones .publicacionTres, .publicaciones .publicacionCuatro, .publicaciones .publicacionCinco, .publicaciones .publicacionSeis {
    margin: 1px; }
  .publicaciones .publicacionUno {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .publicaciones .publicacionDos {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .publicaciones .publicacionTres {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .publicaciones .publicacionCuatro {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .publicaciones .publicacionCinco {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .publicaciones .publicacionSeis {
    margin-top: 25%;
    margin-bottom: 20%;
    margin-left: 5%; }
  .consultas {
    display: none; }
  .escribinos {
    color: #031927;
    font-size: 1rem; }
  .logo {
    display: none; }
  .logoCucicba {
    display: none; }
  .formulario {
    top: 30%;
    left: 35%; } }

/* adaptación a mobile */
@media screen and (max-width: 600px) {
  .contenedorUno {
    height: 120vh;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    gap: .5rem;
    place-content: space-between;
    grid-template-areas: "header header header" "main main main" "seccionUnificada seccionUnificada seccionUnificada" "footer footer footer"; }
  .contenedorDos {
    display: grid;
    height: 520vh;
    background-color: #ced0ce; }
  .contenedorNosotras {
    height: 250vh;
    gap: 1rem; }
  header {
    margin-bottom: 1rem; }
    header nav ul li {
      font-size: 0.5rem; }
  .navbar-toggler {
    background-color: #A9010D;
    border-color: #f7f7ff; }
  main p {
    margin-top: 1rem;
    margin-bottom: .1rem;
    width: 100%;
    margin-left: 1.5rem;
    text-align: center;
    font-size: x-large; }
  .info {
    margin-top: 15%;
    padding: 2%; }
    .info .quienesSomos {
      display: inline-block; }
      .info .quienesSomos h1 {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center; }
      .info .quienesSomos h2 {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center; }
      .info .quienesSomos h3 {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center; }
      .info .quienesSomos h4 {
        font-weight: bold;
        font-size: 1.1rem;
        text-align: center; }
      .info .quienesSomos p {
        font-size: .9rem;
        text-align: justify;
        width: 90%; }
  .botonWhatsapp {
    right: 5%;
    bottom: 10%; }
  .consultas {
    display: none; }
  .escribinos {
    display: none; }
  .seccionUnificada {
    display: inline-block;
    justify-self: start;
    margin-left: 25%; }
    .seccionUnificada .seccionUno {
      padding: 3%;
      margin: 3% 5% 10% 9%;
      font-size: 1rem;
      width: 12rem; }
    .seccionUnificada .seccionDos {
      padding: 3%;
      margin: 3% 5% 10% 9%;
      font-size: 1rem;
      width: 12rem; }
    .seccionUnificada .seccionTres {
      padding: 3%;
      margin: 3% 5% 10% 9%;
      font-size: 1rem;
      width: 12rem; }
  .seccionPages {
    display: none; }
  main .formulario {
    width: 15rem;
    left: 25%;
    top: 20%; }
  footer {
    font-size: .7rem; } }

/* adaptación a mobile x-samll */
@media screen and (max-width: 376px) {
  .contenedorUno {
    height: 120vh;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    gap: 1rem;
    background-size: cover;
    background-color: #ced0ce; }
  .contenedorNosotras {
    height: 280vh; }
  main p {
    margin: 10%;
    font-size: x-large; }
  header nav ul li {
    margin-top: 1rem; }
  header nav ul li a {
    font-size: 1rem; }
  .info {
    margin-top: 3%; }
    .info .quienesSomos {
      display: inline-block; }
      .info .quienesSomos h1 {
        font-weight: bold;
        font-size: 1rem;
        text-align: center; }
      .info .quienesSomos h2 {
        font-weight: bold;
        font-size: 1rem;
        text-align: center; }
      .info .quienesSomos h3 {
        font-weight: bold;
        font-size: 1rem;
        text-align: center; }
      .info .quienesSomos p {
        font-size: .7rem;
        text-align: justify; }
  .publicaciones .publicacionUno, .publicaciones .publicacionDos, .publicaciones .publicacionTres, .publicaciones .publicacionCuatro, .publicaciones .publicacionCinco, .publicaciones .publicacionSeis {
    margin: 1px; }
  .publicaciones .publicacionUno {
    margin: 20% 25% 0% 5%; }
  .publicaciones .publicacionDos {
    margin: 20% 25% 0% 5%; }
  .publicaciones .publicacionTres {
    margin: 20% 25% 0% 5%; }
  .publicaciones .publicacionCuatro {
    margin: 20% 25% 0% 5%; }
  .publicaciones .publicacionCinco {
    margin: 20% 25% 0% 5%; }
  .publicaciones .publicacionSeis {
    margin: 20% 25% 0% 5%; }
  .seccionUnificada {
    padding: 0; }
    .seccionUnificada .seccionUno {
      margin: 0% 0% 10% 3%; }
    .seccionUnificada p {
      font-size: medium; }
    .seccionUnificada .seccionDos {
      margin: 0% 0% 10% 3%; }
    .seccionUnificada p {
      font-size: medium; }
    .seccionUnificada .seccionTres {
      margin: 0% 0% 10% 3%; }
    .seccionUnificada p {
      font-size: medium; }
  footer {
    margin-top: 2rem;
    font-size: 0.5rem; }
  .info {
    margin-top: 20%; } }
