/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// importamos las variables
@import "utilities/variables";
// importamos mixins
@import "utilities/mixins";
// importamos font
@font-face{
    font-family: Custom;
    src: url("RobotoFlex-VariableRegular");
}
/*propiedades del body*/
/*estilos para el contenedor principal*/
.contenedorUno{
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1.5fr 0.3fr;
    gap: 0.5rem;
    background-image: url(../img/slider4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    background-color: $color-background;
    grid-template-areas: "header header header header"
                        "seccionUnificada seccionUnificada seccionUnificada seccionUnificada"
                        "main main main main"
                        "seccionCuatro footer footer footer";
}
.contenedorDos{
    height: 350vh;
    background-color: $color-background;
}
.contenedorNosotras{
    height: 300vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.3fr 2fr 1fr 0.3fr;
    gap: 1rem;
    background-color: $color-background;
    grid-template-areas: "header header header"
                        "main main main"
                        "seccion seccion seccion"
                        "footer footer footer";    
}
/*propieades del header*/
// nesting
header{
    position: fixed;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $gradiente-color-principal;
    background-image: linear-gradient(300deg, $gradiente-color-principal 0%, $color-background 50%,$color-complementario 100%);
    border-top: 0.3rem solid $color-principal;
    border-bottom: 0.1rem solid $color-text;
    z-index: 2;
    nav .isologotipo{
        display: inline-flex;
        background-color: $color-principal;
        box-shadow: 4px 5px $gradiente-dark-color-principal;
        margin-right: 6rem;
        align-items: center;
    }
    .isologotipo:hover{
        opacity: 0.7;
        transform: scale(0.9);
    }
    nav ul{
        display: flex;
        justify-self: end;
        align-self: end;
        li{
            padding-right: 3.125rem;
            list-style: none;
            a{
                color: $color-text-dark;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: bold;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
            /* pseudoclase hover para los botones */
            a:hover, a:focus{
                color: $gradiente-color-principal;
                background-size: 100% 2px
            }
        }
    }
}
/* atributos para indicarle al usuario donde se encuentra*/
.home{
    @include animaciones;
}
.alquileres{
    @include animaciones;
}
.sobreNosotras{
    @include animaciones;
}
.ventas{
    @include animaciones;
}
.contacto{
    @include animaciones;
}

/*propiedades del main y de los principales objetos de las pages*/
main{
    grid-area: main;
    p{
        margin-top: 2rem;
        margin-left: 12rem;
        display: flex;
        width: 70%;
        justify-content: center;
        text-align: center;
        font-size: 2.4rem;
        background-color: $color-principal;
        border-bottom: 0.5rem solid $color-text-dark;
        color: $color-text;
    }
}
.publicaciones{
    %cards {
        display: inline-block;
        margin: 5rem 3rem;
        box-shadow: 4px 5px $color-text-dark;
        text-decoration: none;
    }
    .publicacionUno{
        @extend %cards;
    }
    .publicacionDos{
        @extend %cards;
    }
    .publicacionTres{
        @extend %cards;
    }
    .publicacionCuatro{
        @extend %cards;
    }
    .publicacionCinco{
        @extend %cards;
    }
    .publicacionSeis{
        @extend %cards;
    }
    .card-body{
        height: 28rem;
        background-image: linear-gradient(300deg, $gradiente-color-principal 0%, $color-background 50%,$color-complementario 100%);
        padding: 1rem;
        text-align: center;
        .card-title{
            font-size: 1rem;
        }
        .card-text{
            margin: 0;
            font-size: 1rem;
            width: 16rem;
            height: 14rem;
        }
        button {
            position: relative;
            margin-top: 2rem;
            margin-left: 4.5rem;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            background: transparent;
            padding: 0;
            font-size: inherit;
            font-family: inherit;
        }   
        button.contactanos {
            width: 12rem;
            height: auto;
        }
        button.contactanos .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #A9010D;
            border-radius: 1.625rem;
        }
        button.contactanos .circle .icon {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: #fff;
        }
        button.contactanos .circle .icon.arrow {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
        }
        button.contactanos .circle .icon.arrow::before {
            position: absolute;
            content: "";
            top: -0.29rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $color-text;
            border-right: 0.125rem solid $color-text;
            transform: rotate(45deg);
        }
        button.contactanos .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: $color-text-dark;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase;
        }
        button:hover .circle {
            width: 100%;
        }
        button:hover .circle .icon.arrow {
            background: $color-text;
            transform: translate(1rem, 0);
        }
        button:hover .button-text {
            color: $color-text;
        }
   }
}
.info{
    grid-area: main;
    display: flex;
    width: 75%;
    margin-top: 8%;
    margin-left: 15%;
    padding: 1rem;
    border: outset;
    border-top: 0.3rem solid $gradiente-color-principal;
    border-left: 0.3rem solid $color-text-dark;
    background-color: $color-principal;
    color: $color-text;
        .quienesSomos{
            display: inline-block;
            h1{
                font-weight: bold;
                font-size: 2rem;
                text-align: center; 
            }
            h2{
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
            }
            h3{
                font-weight: bold;
                font-size: 2rem;
                text-align: center;
            }
            p {
                font-size: 1.31rem;
                text-align: justify;
                margin-left: 3rem;
            }
        }
        .video{
            margin-right: 3rem;
            margin-top: 5rem;
        }
    }
    span a{
        color: $color-text;
        text-decoration: none;
    }
    span a:hover{
        color: $color-text-dark;
    }
    .formulario{
        position: fixed;
        width: 22rem;
        top: 30%;
        left: 35%;
        border: outset;
        border-top: 0.3rem solid $gradiente-color-principal;
        border-left: 0.3rem solid $color-background;
        background-color: $color-text;
        padding: 0.3rem;
        margin: 0.625rem;
        opacity: 0.95;
    }
/*propiedades de la section*/
.seccionVentas{
    grid-area: seccionVentas;
}
.seccionNosotras{
    grid-area: seccion;
    text-align: center;
    color: $color-text-dark;
    margin-top: 10%;
    margin-left: 1%;
    .logoCucicba{
        justify-self: center;
        align-self: center; 
    }
    .matricula{
        background-color: $color-background;
        opacity: 0.9;
    }
}
.seccionUnificada{
    grid-area: seccionUnificada;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    %botones{
        position: relative;
        display: inline-block;
        margin-top: 4rem;
        margin-left: 1rem;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-text;
        padding: 1.25em 2em;
        background: $gradiente-color-principal;
        border: 2px solid $color-border;
        border-radius: 0.75em;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    .seccionUno{
        @extend %botones;
    }
    .seccionDos{
        @extend %botones;
    }
    .seccionTres{
        @extend %botones;
    }
    a{
        text-decoration: none;
        color: $color-text;        
    }
/* propiedades para que el usuario interprete a los botones principales*/
%botones::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-text-dark;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px $color-border;
    box-shadow: 0 0 0 2px $color-border;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
%botones:hover{
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}
 %botones:hover::before{
    -webkit-box-shadow: 0 0 0 2px $color-border;
    box-shadow: 0 0 0 2px $color-border;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}
}
.seccionCuatro{
    grid-area: seccionCuatro;
    margin-bottom: 3rem;
    margin-left: 1rem;
    text-align: center;
    color: $color-text-dark;
    .logoCucicba{
        justify-self: center;
        align-self: center; 
    }
    .matricula{
        background-color: $color-background;
        opacity: 0.9;
    }
}
.seccionPages{
    margin-left: 2%;
    margin-top: 10%;
    padding-inline:1rem;
    text-align: center;
}
.botonWhatsapp{
    position: fixed;
    bottom: 3%;
    right: 1%;
    color: $color-text-dark;
    display: inline;
    font-size: 1.2rem;
    text-align: center;
    line-height: 0.5rem;
    text-decoration: none;
    margin: 0.3rem 0.125rem;
    border-radius: 50%;
    z-index: 2;
    .iconoWhatsapp{
        animation-name: Escribinos;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}
.botonWhatsapp:hover{
    opacity: 0.7;
    transform: scale(0.9);
}
/*propiedades del footer*/
footer{
    grid-area: footer;
    position: fixed;
    @include contraste;
    bottom: 0;
    width: 100%;
    height: 5%;   
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
/* animaciones*/
@keyframes escalar{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(1);
    }
}
@keyframes Escribinos{
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(-10deg) scale(1.1);
    }
    50%{
        transform: rotateZ(10deg) scale(0.9);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
  }
  
  .bar span {
    position: absolute;
    width: 45px;
    height: 7px;
    background: #f1faee;
    border-radius: 100px;
    display: inline-block;
    transition: 0.3s ease;
    left: 0;
  }
  
  .bar span.top {
    top: 0;
  }
  
  .bar span.middle {
    top: 17px;
  }
  
  .bar span.bottom {
    bottom: 0;
  }
  
  input[type]:checked ~ span.top {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 48px;
    left: 5px;
  }
  
  input[type]:checked ~ span.bottom {
    transform: rotate(-45deg);
    transform-origin: top left;
    width: 48px;
    bottom: -1px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.middle {
    transform: translateX(-20px);
    opacity: 0;
  }
/*propiedades media queries*/
/*adaptación Tablet*/
@media screen and (max-width:1024px){
    .contenedorUno{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
        grid-template-areas: "header header header"
                            "seccionUnificada seccionUnificada seccionUnificada"
                            "main main main"
                            "footer footer footer";
    }
    .contenedorDos{
        display: grid;
        width: 100%;
        height: 100%;
        background-color: $color-background;
    }
    header{
        margin-bottom: 1rem;
    }
    header nav ul li{
        padding-right: .5rem;
        a{
            font-size: 1rem;
        }
    }
    nav .isologotipo{
        margin-right: 1rem;
    }
    main{
        margin-top: 5%;
    }
    main p{
        width: 100%;
        margin-left: 1rem;
        font-size: 2rem;
        margin-top: 0.3rem;
    }
    .seccionUnificada{
        padding: 0;
        .seccionUno{
            padding: .625rem 1rem;
        }
        .seccionDos{
            padding: .625rem 1rem;
        }
        .seccionTres{
            padding: .625rem 1rem;
        }
    }
    .consultas{
        display: none;
    }
    .escribinos{
        color: $color-text;
        font-size: 1rem;
    }
    .logo{
        display: none;
    }
    .logoCucicba{
        display: none;
    }
    .formulario{
        top: 38%;
        left: 20%;
    }
    .video{
        display: none;
    }
}
/* adaptación a mobile */
@media screen and (max-width:600px){
    .contenedorUno{
        height: 100%;
        background-size: cover;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
        gap: .5rem;
        place-content: space-between;
        grid-template-areas: "header header header"
                            "main main main"
                            "seccionUnificada seccionUnificada seccionUnificada"
                            "footer footer footer";
    }
    .contenedorDos{
        display: grid;
        height: 100%;
        background-color: $color-background;
    }
    .contenedorNosotras{
        height: 380vh;
        gap: .5rem;
    }
    header{
            margin-bottom: 1rem;
        nav ul li{
            font-size: 0.5rem;
        }
    }
    .navbar-toggler {
        background-color: $color-principal;
        border-color: $color-text;
    }
    main p{
        margin-top: 5rem ;
        margin-bottom: 1rem;
        width: 100%;
        margin-left: 1.5rem;
        text-align: center;
    }

    .info{
        margin-top: 20%;
        .quienesSomos{
            text-align: justify;
            p{
                border: none;
                margin: 0;
            }
        }   
    } 
    .video{
        display: none;
    }
    .publicacionUno{
        margin-bottom: 1rem;
    }
    .publicacionDos{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .publicacionTres{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .publicacionCuatro{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .publicacionCinco{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .publicacionSeis{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    main .card-body .card-text{
        justify-content: start;
        height: 16rem;
        width: 16rem;
        font-size: 1rem;
    }
    .botonWhatsapp{
        right: 5%;
        bottom: 10%;
    }
    .consultas{
        display: none;
    }
    .escribinos{
        display: none;
    }
    .seccionUnificada{
        display: inline-block;
        justify-self: start;
        margin-left: 25%;
        .seccionUno{
            padding: 5%;
            margin: 5%;
            font-size: 1rem;
            width: 12rem;
        }
        .seccionDos{
            padding: 5%;
            margin: 5%;
            font-size: 1rem;
            width: 12rem;
        }
        .seccionTres{
            padding: 5%;
            margin: 5%;
            font-size: 1rem;
            width: 12rem;
        }
    }
    .seccionPages{
        display: none;
    }
    main .formulario {
        width: 15rem;
        left: 15%;
        top: 20%;
    }
    footer{
        font-size: .7rem;
    }
}
/* adaptación a mobile x-samll */
@media screen and (max-width:375px){
    .contenedorUno{
        height: 120vh;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 0.3fr 1fr 0.3fr;
        gap: 1rem;
        background-size: cover;
        background-color: $color-background;
    }
    .contenedorNosotras{
        height: 300vh;
    }
    .main{
        inline-size: 20rem;
    }
    header nav ul li{
        margin-top: 1rem;
    }
    header nav ul li a{
        font-size: 1rem;
    }
    .info{
        margin-top: 5%;
        .quienesSomos{
            display: inline-block;
            h1{
               font-weight: bold;
               font-size: 1rem;
               text-align: center; 
            }
            h2{
               font-weight: bold;
               font-size: 1rem;
               text-align: center;
            }
            h3{
               font-weight: bold;
               font-size: 1rem;
               text-align: center;
            }
            p {
               font-size: .7rem;
               text-align: justify;
            }
        }
    }
    footer{
        margin-top: 2rem;
        font-size: 0.5rem;
    }
    .info{
        margin-top: 20%;
    }
}