$color-principal:#A9010D;
$gradiente-color-principal: #bb0a21;
$gradiente-dark-color-principal:#3c0105;
$color-background: #ced0ce;
$color-complementario:#e6e8e6;
$color-text:#f7f7ff;
$color-text-dark:#031927;